<div id="menu">
  <ul>
    <li id="categories">
      <h2>Categories</h2>
      <ul>
        {% assign sorted_cats = site.categories | sort %}
        {% for cat in sorted_cats %}
        <li><a href="{{ '/categories/' | relative_url }}#{{ cat[0] | slugify }}">{{ cat[0] }}</a> ({{ cat[1].size }})</li>
        {% endfor %}
      </ul>
    </li>

    <li id="authors">
      <h2>Authors</h2>
      <ul>
        {% assign posts_by_author = site.posts | group_by: "author" %}
        {% assign sorted_authors = posts_by_author | sort: "name" %}
        {% for author in sorted_authors %}
          {% if author.name != "" %}
          <li><a href="{{ '/authors/' | relative_url }}#{{ author.name | slugify }}">{{ author.name }}</a> ({{ author.size }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li id="archives">
      <h2>Archives</h2>
      <ul>
        {% assign posts_by_month = site.posts | group_by_exp: "post", "post.date | date: '%Y-%m'" %}
        {% for month in posts_by_month %}
        <li><a href="{{ '/archives/' | relative_url }}#{{ month.name }}">{{ month.items[0].date | date: "%B %Y" }}</a> ({{ month.size }})</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
